body {
    background: content-box radial-gradient(rgb(255, 149, 170), rgb(215, 244, 255));;
}

.mainContent {
    margin: 0 17%;
    padding: 20px;
}

canvas {
    border: 1px solid black;
    /* width: 50%; */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between images and text */
    padding: 20px;
}

.title h1 {
    font-size: 40px;
    font-family: Arial;
    color: rgb(252, 74, 29);
    text-align: center;
}

.title img {
    width: 30%;
}

.inputs {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    /* opacity: 0.1 */
}

.canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

canvas {
    border: 1px solid black;
    width: 500px;
    height: 500px;

    /* width: 50%; */
}

.sidebar {
    position: fixed;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.leftSidebar {
    left: 0;
}
.rightSidebar {
    right: 0;
}

.sidebar img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
