body {
    background: content-box radial-gradient(rgb(255, 149, 170), rgb(215, 244, 255));;
}

canvas {
    border: 1px solid black;
    /* width: 50%; */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between images and text */
    padding: 20px;
}

.title h1 {
    font-size: 40px;
    font-family: Arial;
    color: rgb(252, 74, 29);
    text-align: center;
}

.title img {
    width: 7%;
}

.inputs {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    /* opacity: 0.1 */
    ;
    margin-bottom: 50px;
}

.canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

canvas {
    border: 1px solid black;
    /* justify-content: center; */
    width: 500px;
    height: 500px;

    /* width: 50%; */
}