body {
    background: content-box radial-gradient(rgb(255, 149, 170), rgb(215, 244, 255));;
}

canvas {
    border: 1px solid black;
    /* width: 50%; */
}
.container h1 {
    font-size: 40px;
    font-family: Arial;
    color: rgb(252, 74, 29);
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between images and text */
    padding: 20px;
}
.container img {
    width: 7%;
}